.hero-name {
	position: relative;
	width: 150px;
	margin: 30px auto 0px auto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.hero-status-container {
	position: relative;
	width: 25%;
	height: 110px;
	margin: 30px auto 0px auto;
	text-align: center;
	background-color: #cccccc;
	border: 1px solid #888888;
	vertical-align: middle;
	border-radius: 5px;
	font-weight: bold;
}

.hero-status-left {
	position: relative;
	width: 25%;
	height: 25px;
	float: left;
	border: 0px;
	text-align: left;
}

.hero-status-right {
	position: relative;
	width: 25%;
	height: 20px;
	float: left;
	border: 0px;
	text-align: right;
}

.hero-skill-line {
	position: relative;
	width: 300px;
	margin: 0px auto 0px auto;
	text-align: center;
}

.hero-skill-container {
	position: relative;
	width: 50px;
	height: 45px;
	line-height: 45px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
	display: inline-block;
}

.hero-skill-container:hover {
	cursor: pointer;
	background-color: #cccccc;
}

.hero-skills-title {
	position: relative;
	width: 150px;
	margin: 10px auto 0px auto;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}