.hero-name {
	position: relative;
	width: 150px;
	margin: 30px auto 0px auto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.hero-status-container {
	position: relative;
	width: 25%;
	height: 100px;
	margin: 30px auto 0px auto;
	text-align: center;
}

.hero-status-left {
	position: relative;
	width: 25%;
	float: left;
	border: 0px;
	text-align: left;
}

.hero-status-right {
	position: relative;
	width: 25%;
	float: left;
	border: 0px;
	text-align: right;
}