body {    
    margin: 0 !important;
    padding: 0 !important;
}

.header {
	background-color: black;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 60px;
	position: relative;
}

.title {
	text-align: center;
	color: #cccccc;
	font-size: 18px;
	padding-top: 10px;
}

.button-container {
	height: 20px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid gray;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}

.button-menu {
	font-size: 14px;
	font-weight: bold;
	color: gray;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	display:inline;
}

.button-menu:hover {
	color: white;
	cursor: pointer;
}

.sub-menu {
	position: absolute;
	background-color: black;
	border-bottom-right-radius: 10px;
	width: 15%;
	left: 0px;
	top: 60px;
}

.sub-menu-button {
	position: absolute;
	text-indent: 15px;
	left: 0px;
	height: 20px;
	color: gray;
}

.sub-menu-button:hover {
	color: white;
	cursor: pointer;
}

.block-screen {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.5;
	z-index: 99;
}

.error-container {
	width: 350px;
	height: 150px;
	background-color: #555555;
	border: 1px solid black;
	z-index: 100;
}

.error-container-title {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	background-color: black;
	border-bottom: 1px solid black;
	text-indent: 5px;
	color: white;
	vertical-align: middle;
	line-height: 25px;
}

.error-container-text {
	position: relative;
	width: 330px;
	color: #cccccc;
	padding-top: 20px;
	text-indent: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.error-ok-button {
	position: relative;
	top: 30px;
	width: 50px;
	background-color: black;
	color: gray;
	border: 1px #333333 solid;
	text-align: center;
	font-size: 13px;
	margin-left: 150px;
}

.error-ok-button:hover {
	cursor: pointer;
	color: white;
}