.table {
	width: 100%;
	float: center;
}

.table-header {
	width: 70%;
	height: 20px;
	margin: 0 auto;
	background-color: gray;
	text-align: center;
	border: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.table-header-column {
	height: 20px;
	display: inline-block;
	margin: 0px;
}

.table-line {
	width: 70%;
	height: 20px;
	margin: 0 auto;
	background-color: #bbbbbb;
	text-align: center;
	border: 1px solid black;
	border-top: 0px;
}

.table-line-column {
	height: 20px;
	display: inline-block;
	margin: 0px;
	border: 0px;
}

.button-select {
	position: relative;
	width: 100%;
	background-color: black;
	color: gray;
	border: 1px #333333 solid;
	border-right: 0px;
}

.button-select:hover {
	cursor: pointer;
	color: white;
}