<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>noname-game-web-test</title>
	<script src="js/hero-create.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="container-title"># Hero create</div>
	<div class="login-container">
		<form id="hero-create-form">
			<input class="login-input" type="text" name="name" placeholder="Hero name" required/>
			<input class="login-button" type="submit" value="create">
		</form>
	</div>
</body>
</html>