<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>noname-game-web-test</title>
	<script src="js/hero.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="css/hero.css">
</head>
<body>
	<div class="container-title"># Hero</div>
	<div id="hero-name" class="hero-name"></div>
	<div id="hero-status-container" class="hero-status-container">
		<div style="margin-top:5px;">
			<div class="hero-status-right">level:</div><div id="hero-level" class="hero-status-left"></div>
			<div class="hero-status-right">str:</div><div id="hero-str" class="hero-status-left"></div>
			<div class="hero-status-right">hp:</div><div id="hero-hp" class="hero-status-left"></div>
			<div class="hero-status-right">dex:</div><div id="hero-dex" class="hero-status-left"></div>
			<div class="hero-status-right">stamina:</div><div id="hero-stamina" class="hero-status-left"></div>
			<div class="hero-status-right">p.atk:</div><div id="hero-patk" class="hero-status-left">1</div>
			<div class="hero-status-right">exp:</div><div id="hero-exp" class="hero-status-left"></div>
			<div class="hero-status-right">p.def:</div><div id="hero-pdef" class="hero-status-left">1</div>
		</div>
	</div>
</body>
</html>